$color-main-background-orange-yellow: #F6F5E6;
$color-main-background-dashboard: #fffbf2;

$color-background-white: #FFFFFF;
$color-background-tealish-blue :#353957;
$color-background-orange :#DEA26A;
$color-background-red-orange :#333232;

$color-font-black: #000000;
$color-font-white:#FFFFFF;

$color-close-black: #000000;
$color-close-black-opacity: #00000038;

$color-button-orange: #DEA26A;
$color-button-white: #FFFFFF;

$color-header-dashboard-orange-yellow: #F6F5E6;
$color-sidebar-eggshell: #f7f0e2;
$color-card-eggshell: #f7f0e2;
$color-card-eggshell-dark: #ede9e2;

$color-border-orange: #DEA26A;

$color-formbuilder-back-eggshell: #fbf7f0;

$color-select-button-orange: #DEA26A;

$color-shadow-card:rgb(225, 220, 207) 0px 3px 2px -2px;
$color-shadow-card-2:rgb(225, 220, 207) 0px 3px 6px 2px;

$color-selection-tealish-light-blue: #53678e;

$color-bar-tealish-blue :#353957;


$color-line-black: #0000001f;

$color-icon-box-eggshell: #e4dac6;
$color-form-background-eggshell: #f7f0e2;