.btn{
    &, 
    &:link,
    &:visited {
    text-decoration: none !important; 
    padding: 8px 20px !important; 
    display: inline-flex !important; 
    border-radius: 18px !important; 
    transition: all .10s !important;
    color: $color-font-white !important;
  
    border: none !important;
    cursor: pointer !important;

    background-color: $color-button-orange !important;
    z-index: 3000 !important;
    }

    &:hover {    
    transform: translateY(-3px) !important;   
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.144) !important;  
    background-color: $color-button-orange-light !important;


    &:active {   
        transform: translateY(-1px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
    }
    
     
    
       
    
}
}

.btn-link { 
    &, 
    &:link,
    &:visited {
    color: $color-button-orange-light;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px;
    }

    &:hover {
    color: $color-button-orange !important;

    }
}

.btn-x{
    &, 
    &:link,
    &:visited {
    text-decoration: none !important; 
    padding: 8px 10px !important; 
    display: inline-flex !important; 
    border-radius: 18px !important; 
    transition: all .10s !important;
    color: $color-font-black !important;
    background-color: transparent !important;
    border: none !important;
    cursor: pointer !important;

    z-index: 3000 !important;
    }

     
    
       
    
}

.btn-b{
    &, 
    &:link,
    &:visited {
    color: $color-button-orange-light;
    font-weight: 600;
    text-decoration: none;
    padding: 0 10px;
    }

    &:hover {
    color: $color-button-orange !important;

    }
}

