.heading-primary {
    color: $color-font-black;
    font-weight: 700;
    font-size: 2.5rem !important;

}

.heading-secondary{
    color: $color-font-black;
    font-weight: 500;
    font-size: 1.5rem !important;
}

.text{
    text-decoration: none;
    font-weight: 900;
    color: $color-font-black;

    &:hover,
    :focus {
        color: $color-button-orange;

    }



    

}

h2 {
    margin-bottom: 0 !important;
}